
.navbar {
    font-weight: 500;
}

/* Home */
.home {
    width: 100%;
}

/* Header */
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/img/Header.jpg");
    background-size: cover;
    height: 300px;

}
.header h1 {
    font-size: 40px;
}
.header p {
    font-size: 20px;
}
.header hr {
    width: 80%;
    border: solid 1px white;
}
/* Fin Header*/

.container {
    margin: 0%;
    display: flex;
    justify-content: space-between;
}

/* Card Pizza */
.cardPizza {
    width: 250px;
    margin: 20px;
    padding: auto;
    text-align: center;
    border: solid 1px gray;
    border-radius: 10px;
}
.cardPizza img {
    width: 100%;
    border-radius: 10px;
}
.cardPizza h1 {
    font-size: 1.4rem;
    margin: 10px;    
}
.cardPizza h2 {
    font-size: 1.2rem;
    margin: 10px;
}
.cardPizza p {
    font-size: 0.8rem;
}
.cardPizza hr {
    width: 90%;
    margin: 0;
    justify-self: center;
}
.ingredientes {
    height: 100px;
}
.ingredientes h2{
    font-weight: 400;
    font-size: 1rem;
}
.botonHeader {
    margin: 10px;
    display: flex;
    justify-content: space-between;
}
/* Fin CardPizza*/
/* Fin Home */

.footer {
    padding: 10px ;
    margin-top: 10px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
}
.footer p {
    margin: 0;
}